.container {
  max-width: 700px;
  height: 600px;
  padding: 0 1rem;
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  width: 100%;
  margin: 1rem auto;
}

.description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.bottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search {
  text-align: center;
  padding: 1rem;
  input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    &::placeholder {
      color: #fff;
    }
  }
}
